* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/* header */
.header {
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.searchIcon {
    height: 1rem;
    width: auto;
}

.search {
    display: flex; 
}

.search > input[type=text] {
    background-color: #E2E8F0;
    border: none;
    border-radius: 1rem;
    padding-left: 10px;
}

.personal {
    display: flex; 
}

.notifications {
    height: 1rem;
    width: auto;
}

.pfp {
    display: inline-block;
    height: 2rem;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

/* sidebar */
.sidebar {
    background-color: #1992D4;
    grid-row: 1 / 3;
}

/* dashboard */
.dashboard {
    background-color: #E2E8F0;
}
